/* Colors */
$superwhite-color: #fff;
$white-color: #f8f9fb;
$snow-color: #f3f3f3;
$blue-color: #635ac7;
$lightgray-color: #888;
$gray-color: #ccc;
$darkgray-color: #434343; 
$yellow-color: #feb907;
$midnight-color: #666;

/* Elements */
$footer-height: rem(60px);
$header-height: rem(55px);

/* Grid */
$small: 576px;
$medium: 768px;
$large: 992px; 
$extralarge: 1200px;
$wide: 1680px;