<div id="adoption" class="section">
    <article>
        <h2 class="heading">Learn More About Dog Adoption</h2> 
        <h3 class="heading">1. Tips for the First Week With Your Newly Adopted Dog</h3> 
        <p>
            Just like us, dogs need order and leadership. They seek order, which you must provide. Your
            dog needs to know that you are the in charge and that you have a set of rules to live by. This
            makes the transition from the shelter to your home easier, faster and more rewarding. One idea
            to help set order is to hold a family meeting to create rules about caring for the dog. Purchase
            your essential dog care items such as ID tags, a collar and a 6 foot leash, food and water bowls,
            food, dog toys, a crate and bedding, and basic grooming tools. Just before you bring your dog
            adoption home, take him for a walk to tire him out a little. For starters when the dog arrives at
            home, limit your dog to one room or area. Most dogs instinctively like to den, and a crate makes
            the ideal place for your dog to sleep and get away from everything else going on. The next step
            is to plan a trip to the vet in order to make sure your dog is healthy and will not transmit any
            diseases to other local dogs.
        </p> 
        <h3 class="heading">2. How to Introduce A Puppy to an Adult Dog</h3> 
        <p>
            First ensure your dog(s) are up to date on all their vaccinations, including bordatella (kennel
            cough) especially if the puppy is coming from a shelter or rescue kennel, or has been exposed
            to other dogs. Just having the new puppy in the house will throw off your older dog, begin by
            keeping the puppy in an isolated from the older dog. As for the first introduction, choose a
            neutral and unfamiliar territory, such as a street or park you don't usually visit. For a very young puppy (4 months and under): start by having a friend (not a family member) holding the puppy in their arms and letting your friendly adult dog take a good sniff. Walks make future meetings a excellent bonding activity!
        </p> 
        <h3 class="heading">3. The Myths of Dog Adoption</h3> 
        <p>
            Did you know that most dogs do not have a home due to no fault of their own? It is a common
            myth to think that all dogs up for adoption in shelters and rescues are damaged in some way.
            But, nothing could be less true! Dog shelters and rescues are full of lovable, active and healthy
            adoptable dogs just waiting for someone to take them home. A majority of dogs are given up
            when their prior owner can no longer afford the financial requirements to keep them, got
            divorced, had a death in the family or other unexpected change in their family situation, or didn't realize how much time &amp; attention a <strong>dog adoption</strong> deserves and needs. Even worse, the
            number of dog adoptions in need are compounded by a surplus of dogs bred for profit:
            approximately 4 million adoptable pets are killed each year due to overpopulation. By taking
            home a dog adoption from a rescue or a shelter, not only are you saving that pet, you're either
            making room in the rescue so they can save another pet from a shelter, or making room at the
            shelter itself. As you can see, dog adoption is truly a continuous cycle of saving lives, and it's
            the humane thing to do! Thank you for considering dog adoption, and please help us debunk the
            myth of homeless pets in the future.
        </p> 
        <h3 class="heading">4. Some Rescue Dogs Are Already Trained for a Home</h3> 
        <p>
            Even though living in a dog rescue isn't ideal, most rescues (and some shelters) are assisting
            the dogs in more ways than just keeping it alive. Dogs can be socialized with other animals that
            help make them kinder and playful with all types of animals. Many rescue organizations use
            foster homes, where puppies and kittens for adoption are socialized with children and other
            dogs and cats, and given essential obedience training before they go to their new homes. This
            makes the transition to your home much easier for both pet and owner. Another positive aspect
            about <i>dog adoption</i> to point out, many dogs and cats in animal shelters and humane societies
            are already housebroken, trained and ready to go! Usually this is on behalf of the hard working
            shelter volunteers, and foster care givers, or it is because the dog has already lived in a home
            and has gotten to know the household rules like using the bathroom outside, or not jumping
            onto furniture.
        </p> 
        <h3 class="heading">5. Rescues Are Pros at Matching You With the Right Dog Adoption</h3> 
        <p>
            Shelter workers are very careful to make sure their dog adoptions go well and their dogs end up
            in the best homes for dog and owner. Each organization has its own dog adoption application
            and screening process for potential adopters. Since pet rescues spend so much time with their
            dogs, they are able to match you up with the perfect companion for you. Volunteers also follow
            up with you after the adoption to make sure everything's going well. They can help you get
            through any rough spots by offering dog training tips and lots of other advice. Adopting from a
            pet rescue group has another benefit: if, for some reason, things don't work out with your new
            dog, most rescues will take the dog back, saving you a lot of trouble. Each rescue has its own
            dog adoption process for screening; this process is designed to make sure you end up with the
            right dog for your family. In an effort to help people make good choices when they chose dog
            adoption, many rescues even specialize in small dogs, some rescue only giant breeds. There
            are thousands of rescue groups devoted to a particular breed of dog or cat, too!
        </p> 
        <h3 class="heading">6. Rescues Have Plenty of Purebred Dogs</h3> 
        <p>
            If you have your heart set on a specific dog breed, before you check out a breeder or pet store,
            why not at least look into dog adoption as a option? 25% of all dogs in a shelter are purebred.
            There are also lots of specific dog breed rescue groups that specialize in a particular breed of
            dog. Don't be fooled into thinking that animal shelters and dog rescues are filled with dogs that
            were discarded because they're "bad". Shelter <strong>dogs for adoption</strong> are wonderful companions
            who became the victims of family tragedy, unlucky circumstances or irresponsible owners. Did
            you know that many backyard dog breeders and pet stores who supply the majority of
            purebreds simply are selling inbred pets without care for preventing genetic problems? Mixed
            breed dogs have less inbreeding, generally less inherited genetic disease, and therefore overall
            lower vet bills and happier dogs! And the best place to find a mixed breed is at rescue, SPCA,
            humane society or animal shelter.
        </p> 
        <h3 class="heading">7. Dog Adoption Will Build Life Lessons for Kids of All Ages</h3> <p>
            Dog adoption provides a fertile opportunity to teach significant values to children. The decision
            to devote your resources and care to a dog in need sends a very clear message about the
            identity of a family and its underlying values. It is a great time to explore who you are as a family and what you stand for. It is through this process that a child learns things like, "We are a family with an important choice to make, and we are going to use the power of this choice to save a life." This teaches kids about personal responsibility and their impact on the greater good as they make choices in life. Children need to feel they can impact their world. We need to give them opportunities to do so in positive, pro-social ways. Choosing dog adoption can plant the
            seeds for that ethic. Dogs help children get outside more – to go for walks, run, and play – and
            enjoy all the associated health benefits. Kids also learn responsibility by feeding and caring for a dog's routine needs. Children with dogs display improved impulse control, social skills and
            self-esteem. And for emerging readers, reading to a dog is an easy way to feel comfortable.
        </p> 
        <h3 class="heading">8. How to Plan for a Dog Friendly Schedule</h3> <p>
            How much time your new dog adoption will really needs is dependent on the type of dog,
            including but not limited to the breed, age, amount of previous training, other pets &amp; people in
            your home, and your current activity level and lifestyle. Matching the time a dog will take to the
            amount of time you want to spend on your dog is a very important part in finding your new best
            friend! A good first step is really thinking about your daily routine. How much free time do you
            have each day that you are willing to devote to the care, training, and attention of your new dog
            adoption over the next few months, and then for the lifetime of that dog? For social pets like
            birds, rabbits, dogs, and cats, time spent just "hanging out" with you while you're watching a
            movie or reading a book, counts too! Dogs and puppies vary the most in their time
            requirements, ranging from an adult, already-trained, mellow breed, to a high-energy puppy that
            would love a jogging companion and another high-energy dog friend. Be prepared to spend at
            least 4-5 hours a day with a high energy puppy who needs training, about 3-4 hours a day with
            a single adult dog.
        </p> 
        <h3 class="heading">9. How to Prepare Your Budget for Dog Adoption</h3> <p>
            Being a good caring dog owner involves many things that don't affect your wallet, like your time
            and love, but there are certainly costs to plan for. If you've never owned a particular type of pet before, knowing how much your new pet will cost can be complicated. When adopting a dog
            there will usually be an dog adoption fee. Rescuing pets is expensive work! The rescuer often
            pays to have the dogs spayed or neutered if they aren't already, provides vaccines, and pays for
            all medical care needed while the pets are in their rescue. Food, beds, leashes, collars, tags,
            grooming, it adds up, but luckily much of that cost is not passed on. Typical dog adoption fees
            range from $100 to $300. Next consider you basic supplies such as a collar, IDs, microchip,
            leash, pet bed, bowls, and toys. The biggest cost will be food, that depends on the size and type
            of dog you will be adopting. Asking the shelter what they are feeding the dog you want to adopt
            and the cost can help prepare for this. Other costs are mostly medical and will include regular
            vet checkups, and the potential for a trip to the vest because of an accident, or illness. If you will be away from your dog all day long, you may want to look into doggie daycare, or a dog walker.
        </p> 
        <h3 class="heading">10. FAQ for Dog Veterinarian Visits</h3> 
        <p>
            Taking your newly adopted dog to the veterinarian should be your first priority. This is especially true if you have other pets. It's a good idea to make sure your new dog is healthy and doesn't have any diseases or viruses he or she could transmit to other animals in the house. The best way to find a veterinarian is by word of mouth. The animal shelter or rescue group where you got your dog may have a good recommendation for you. For proper preventative care, your dog or cat should be examined by a veterinarian twice a year. A typical vet checkup includes searching for fleas using a special flea comb. Taking your dog's temperature, and a physical examination which will include checking your dog's ears, eyes, nose, teeth, skin, legs, joints, and genitals, and lymph nodes and listen to the heart and lungs. It will be common for the veterinarian to stress the importance of avoiding parasites, and will suggest options for flea and tick prevention and control.
        </p>
    </article>					
</div>