<div id="contacts" class="section">
	<div class="wrap">
		<div class="column">
			<h3 class="heading">New York</h3>
			<address> 
				<strong>Pet Adoption Agency</strong><br> 
				228 Park Ave S<br> 
				New York, NY 10003<br> 
				Phone: (123) 456-7890
			</address>
		</div> 
		<div class="column">
			<h3 class="heading">Chicago</h3>
			<address> 
				<strong>Pet Adoption Agency</strong><br>  
				5238 W Wabash st.<br> 
				Chicago, IL 60620<br> 
				Phone: (123) 456-7890
			</address>
		</div> 
		<div class="column">
			<h3 class="heading">San Diego</h3>
			<address> 
				<strong>Pet Adoption Agency</strong><br> 
				117 Laselle Ave S<br> 
				San Diego, CA 10001<br> 
				Phone: (123) 456-7890
			</address>
		</div>  
	</div>
</div>