<div id="gallery" class="section">
    <div class="intro">
        <h1 class="heading">Puppy image gallery</h1>
        <blockquote class="site-header__quote">
            <p>A dog will teach you unconditional love. If you can have that in your life,<br /> things won't be too bad.</p>
            <cite>&mdash;Robert Wagner</cite>
        </blockquote>						   
    </div>
    <div id="pets" class="nojs">
        <div class="wrap"></div> 
        <div id="pagination">
            <ul>
                <li class="active">1</li>
            </ul> 
        </div>	    						
    </div>
</div>