/* Footer */
#footer {
    display: flex;    
    background: $darkgray-color;
    color: $white-color;
    font-size: rem(12px);
    text-align: center;
    height: $footer-height;
    width: 100%;
    align-items: center;
    justify-content: center;    
    bottom: 0;
    position: absolute;
    p {
        margin: 0; 
    }
}